<h1>BaseballApp</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<%= link_to "ユーザー登録", new_user_path %>
<%= link_to "ログイン", login_path %>
<br>
<%= link_to "パスワードを忘れた方はこちら", new_password_reset_path %>