<div class="background">
  <div class="container">
    <section class="row top">
      <h1 class="text-center headline">野球の試合を見ながらリアルタイムで語ろう</h1>
      <div class="row">
        <div class="col rounded text-center">
          <h5 class="mb-3">既に登録済みの方</h5>
          <%= link_to "ログイン", login_path, class: 'btn btn-primary mb-3' %>
          <br>
          <%= link_to "パスワードを忘れた方はこちら", new_password_reset_path %>
        </div>
        <div class="col rounded text-center">
          <h5 class="text-light mb-3">まだ登録してない方</h5>
          <%= link_to "ユーザー登録", new_user_path, class: 'btn btn-primary mb-3' %>
          <h5 class="mt-3 text-light mb-3">登録なしで利用する</h5>
          <%= link_to "チャットルーム一覧", chatrooms_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </section>
  </div>
</div>

<section class="service-overview bg-light">
  <div class="container">
    <br>
    <h2 class="text-center pt-4 fw-bold">サービス</h2>
    <br>
    <br>
    <div class="row text-center">
      <div class="col-4">
        <h3>試合予想機能</h3>
        <i class="fa-brands fa-think-peaks fa-6x icon"></i>
        <br>
        <p>試合の勝敗予想ができます。試合展開を予想しコメントで議論することができます。的中させればポイントが貯まり称号が手に入ります。</p>
      </div>
      <div class="col-4">
        <h3>リアルタイムチャット機能</h3>
        <i class="fa-regular fa-comment-dots fa-6x icon"></i>
        <br>
        <p>プロ野球の試合を見ながら試合についてリアルタイムでチャットができます。<%# 采配予想もできます。 %>予想的中で手に入れた称号をプロフィールに設定し、リアルタイムチャットであなたの野球知識や野球考察をひけ散らかしましょう。</p>
      </div>
      <div class="col-4">
        <h3>予想的中ランキング</h3>
        <i class="fa-solid fa-crown fa-6x icon"></i>
        <br>
        <p>誰が一番予想を当てたかをランキングで表示します。トップを目指して頑張りましょう。</p>
      </div>
    </div>
  </div>
</section>