<% breadcrumb :pro_game_predicts %>
<div class="container text-center">
  <h1 class="my-3">今日の試合</h1>
  <h2 class="mb-4">プロ野球</h2>
    <% if @today_pro_games.present? %>
      <%= render partial: 'today_pro_game', collection: @today_pro_games %>
    <% else %>
      <h5>本日プロ野球は休みです</h5>
    <% end %>
</div>