<h1><%= t".title" %></h1>

<table>
  <thead>
    <tr>
      <th><%= Chatroom.human_attribute_name(:name) %></th>
    </tr>
  </thead>

  <tbody>
    <% @chatrooms.each do |chatroom| %>
      <tr>
        <td><%= chatroom.name %></td>
        <td><%= link_to "入場", chatroom_path(chatroom) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
