<footer class="footer p-5 text-center bg-dark text-light" style="backgroud-color: #ADD8E6;">
<p>©︎2022 野球馬鹿スタジアム</p>
 
  <%= link_to "利用規約", static_pages_terms_of_service_path, class: 'px-2' %>
  <%= link_to "プライバシーポリシー", static_pages_privacy_policy_path, class: 'px-2'  %>
  <%= link_to "問い合わせ", "https://twitter.com/baseballapp514", target: :_blank, rel: "noopener noreferrer", class: 'px-2'  %>
</footer>