
  <div class="d-flex mb-3">
    <div class="">
      <%= image_tag pro_game_predict_comment.user.profile.url, style: 'width:50px; height:50px; border-radius:50%; object-fit: cover;' %>
    </div>

    <div class="">
      <div class="ps-1 fw-bold d-inline">
        <%= pro_game_predict_comment.user.nickname %>
      </div>

      <div class="px-3 py-2">
        <%= pro_game_predict_comment.body %>
      </div>
    </div>
  </div>
